@using CCT.Horarios.DTO.Entities
@model IEnumerable<CampusDTO>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

    <fieldset>
        <legend>Lista de Campus</legend>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.id)</th>
                    <th>@Html.DisplayNameFor(model => model.nome)</th>
                    <th>@Html.DisplayNameFor(model => model.sigla)</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
               @foreach(var campus in Model)
               {
                <tr>
                    <th>@Html.DisplayFor(model => campus.id)</th>
                    <th>@Html.DisplayFor(model => campus.nome)</th>
                    <th>@Html.DisplayFor(model => campus.sigla)</th>
                    <th><a href="#"><i class="glyphicon glyphicon-pencil"></i></a></th>
                    <th><a href="#"><i class="glyphicon glyphicon-remove"></i></a></th>
                </tr>
                }
            </tbody>
        </table>
    </fieldset>

